<button>Add A Dinosaur</button>

<h1>Dinosaurs Galore</h1>
<table>
  <thead>
    <th> Name </th>
    <th> Species </th>
    <th> Diet </th>
  </thead>
  <tbody>
  <% @dinosaurs.each do |dinosaur| %>
  <tr>
    <td>
      <%= dinosaur.name %>
    </td>
    <td>
      <%= dinosaur.species %>
    </td>
    <td>
      <%= dinosaur.diet %>
    </td>
    <td>
    <input type="submit" value="edit" name="edit">
    <input type="submit" value="delete" name="delete">
  </td>
</tr>
  <% end %>
</tbody>

</table>
