<form action='/dinosaurs/new'>
<button>Add A Dinosaur</button>
</form>

<h1>Dinosaurs Galore</h1>
<table>
  <thead>
    <th> Name </th>
    <th> Species </th>
    <th> Diet </th>
  </thead>
  
  <% @dinosaurs.each do |dinosaur| %>
  <tr>
    <td>
      <%= dinosaur.name %>
    </td>
    <td>
      <%= dinosaur.species %>
    </td>
    <td>
      <%= dinosaur.diet %>
    </td>
    <td>
    <input type="submit" value="edit" name="edit">
    <input type="submit" value="delete" name="delete">
    <%= link_to "Delete", {action: "destroy", id: dinosaur.id, method: destroy } %>
  </td>
</tr>
  <% end %>

        </td>
      </tr>
    <% end %>
  </tbody>

</table>
