<button>Add A Dinosaur</button>

<h1>Dinosaurs Galore</h1>
<table>
  <thead>
    <tr>Name</tr>
    <tr>Species</tr>
    <tr>Diet</tr>
  </thead>


  <% @dinosaurs.each do |dinosaur| %>
  <tr>
    <td>
      <%= dinosaur.name %>
    </td>
    <td>
      <%= dinosaur.species %>
    </td>
    <td>
      <%= dinosaur.diet %>
    </td>
    <td>
    <input type="submit" value="edit" name="edit">
    <input type="submit" value="delete" name="delete">
  </td>
</tr>
  <% end %>

</table>
