<!DOCTYPE html>
<html>
<head>
  <title>Dinosaurs</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link rel="stylesheet" type="text/css" href="assets/stylesheets/style.css">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>CRUDGroup//Dinosaurs</h1>

  <%= yield %>

</body>
</html>
